<hibernate-configuration>
    <session-factory>
        <!-- PostgreSQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/movietheaterdb</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">123456</property>

        <!-- HikariCP connection pooling -->
        <property name="hibernate.hikari.connectionTimeout">30000</property>
        <property name="hibernate.hikari.maximumPoolSize">10</property>
        <property name="hibernate.hikari.idleTimeout">600000</property>

        <!-- DDL auto -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Show SQL in console -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.highlight_sql">true</property>

        <!-- Entity mappings -->
        <mapping class="fa.training.entities.Sample"/>
        <mapping class="fa.training.entities.Student"/>
        <mapping class="fa.training.entities.Course"/>
        <mapping class="fa.training.entities.Enrollment"/>
    </session-factory>
</hibernate-configuration>
